.textNode {
    min-width: 100px;
    padding: 5px;
    border: 1px solid transparent;
    transition: border-color 0.2s;
}

.textNode:hover {
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.content {
    width: 100%;
    height: 100%;
    outline: none;
    word-break: break-word;
    white-space: pre-wrap;
    line-height: 1.4;
    font-family: var(--font-outfit);
}

.handle {
    background: transparent !important;
    border: none !important;
}